<% include header %>
  <h2>Operações - <%= titulo %></h2>

  <table>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Sub-total</th>
      </tr>
    </thead>
    <tbody>
      <% operacoes.forEach(operacao => { %>
        <tr>
          <td><%= operacao.descricao %></td>
          <td class="currency"><%= functions.formatCurrency(operacao.valor) %></td>
          <td class="currency"><%= functions.formatCurrency(operacao.subTotal) %></td>
        </tr>
      <% }) %>
    <tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Saldo</td>
        <td class="currency"><%= functions.formatCurrency(functions.sum(operacoes, ({valor}) => valor)) %></td>
      </tr>
    </tfoot>
  </table>

<% include footer %>